doctype html
html(lang="ru")
  head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Лендинг турагенства
  link(rel="stylesheet" href="index.min.css")
  body
    include header/header.pug
    main
      include main/main.pug
    include footer/footer.pug
